# Basics of python

In [1]:
#String Slicing

In [2]:
my_string = "Hello World"

In [4]:
len(my_string) #this will print the length of the string

11

In [6]:
my_string[1:] #print the string form first index to end

'ello World'

In [8]:
my_string[1:3] #print the string from first up to 2nd

'el'

In [9]:
my_string[-1:]

'd'

In [14]:
my_string[-1] #last index of the string

'd'

In [15]:
my_string[-2]

'l'

In [16]:
my_string[::] #print the string all the way form beginig to end

'Hello World'

In [18]:
my_string[::2] #print the string all the way form begning to end with the space of 2

'HloWrd'

In [20]:
my_string

'Hello World'

In [22]:
my_string[2:7:2]

'loW'

# String Properties

In [23]:
my_string

'Hello World'

In [25]:
my_string.upper() # change it to uppercase

'HELLO WORLD'

In [26]:
my_string.lower() #change it to lowercase

'hello world'

In [27]:
my_string

'Hello World'

In [31]:
my_string.split() #split the string with the whitespace

['Hello', 'World']

In [30]:
my_string.split(" ") #we can specifiy the the spliting letters

['Hello', 'World']

# String format

In [32]:
my_string

'Hello World'

In [35]:
print("My name is {} and my age is {}".format("Achsuthan",26)) #.format() function is used to format the string

My name is Achsuthan and my age is 26

In [39]:
print("My name is {0} and my age is {1}".format("achsuthan",25)) #another format with index

My name is achsuthan and my age is 25

In [41]:
print("My name is {name} and my age is {age}".format(age=25,name="achsuthan")) #format the string with the custom values

My name is achsuthan and my age is 25

# Format the value with length

In [49]:
result = 1000/7

In [50]:
result

142.85714285714286

In [51]:
print("The result is {r}".format(r=result))

The result is 142.85714285714286

In [52]:
print("The result is {r:1.2f}".format(r=result)) #this will fomat the value with 2 decimal format

The result is 142.86

In [58]:
name = "Achsuthan"
age = 25

In [59]:
print(f"My name is {name} and age is {age}") #another way to format the srtring

My name is Achsuthan and age is 25

# List

In [60]:
my_list = ["one","two","three","four"]

In [61]:
my_list

['one', 'two', 'three', 'four']

In [62]:
type(my_list)

list

In [63]:
my_list[1]

'two'

In [64]:
my_list[0] = "ONE"

In [65]:
my_list

['ONE', 'two', 'three', 'four']

In [70]:
my_list.append("Five") #append is used to add the values to the list

In [67]:
my_list

['ONE', 'two', 'three', 'four', 'Five']

In [71]:
my_list.pop() #pop() is used to remove the vlaue form list and it will return the poped value

'Five'

In [69]:
my_list

['ONE', 'two', 'three', 'four']

In [72]:
my_list_1 = ["a","b","c","f","a"]

In [74]:
my_list_1.sort() #sort() is used to sort the list

In [75]:
my_list_1

['a', 'a', 'b', 'c', 'f']

In [76]:
my_list_2 = [2,5,3,1,3,4]

In [77]:
my_list_2.sort()

In [78]:
my_list_2

[1, 2, 3, 3, 4, 5]

In [81]:
my_list_1.reverse() #reverse the list

In [80]:
my_list_1

['f', 'c', 'b', 'a', 'a']

In [82]:
my_list_2.reverse()

In [83]:
my_list_2

[5, 4, 3, 3, 2, 1]

# Dictionary

In [84]:
d = {"key1":"value"}

In [85]:
d

{'key1': 'value'}

In [86]:
d["key2"]= "value2"

In [87]:
d

{'key1': 'value', 'key2': 'value2'}

In [88]:
d.keys

In [89]:
d.keys()

dict_keys(['key1', 'key2'])

In [92]:
d.values()

dict_values(['value', 'value2'])

In [93]:
d.items()

dict_items([('key1', 'value'), ('key2', 'value2')])

# Tuples

In [94]:
t = ('a','a','b','c')

In [97]:
t.count('a') #give the number of a's in the tuples

2

In [99]:
t.index('a') #it will give the first charecter of a

0

In [100]:
t.index('b')

2

In [101]:
type(t)

tuple

In [102]:
t

('a', 'a', 'b', 'c')

In [104]:
t[0] = 'a' # we can't asign the value to tuples

TypeError: 'tuple' object does not support item assignment

# Set

In [105]:
my_set = set() #set will contain only unique values

In [107]:
my_set.add(1) #add() function is used to add the value to set()

In [108]:
my_set.add("a")

In [109]:
my_set

{1, 'a'}

In [111]:
my_set.add(1)

In [112]:
my_set

{1, 'a'}

In [113]:
my_list = [1,1,1,23,23,232,32,311,1,12]

In [116]:
my_set_2 = set(my_list) #it will remove all the duplicated value form list

In [115]:
my_set_2

{1, 12, 23, 32, 232, 311}

# I/O reading and writing file

In [124]:
%%writefile test.txt
this is the first line
this is the second line
this is the third line

Overwriting test.txt

In [125]:
my_file = open('test.txt') #open the file

In [126]:
my_file

In [127]:
my_file.read() #read() is used to get the file content

'this is the first line\nthis is the second line\nthis is the third line'

In [128]:
my_file.read() #when u run the read() function again we can't see it so we have to change the mouse curser to first index

''

In [134]:
my_file.seek(0) #seek(0) function is used to move the curser

0

In [135]:
my_file.read()

'this is the first line\nthis is the second line\nthis is the third line'

In [143]:
my_file.seek(0)

0

In [144]:
my_file.readline() #give the first line

'this is the first line\n'

In [145]:
my_file.seek(0)

0

In [146]:
val = my_file.readlines() #readlines() will return the list with values

In [147]:
val[0]

'this is the first line\n'

In [150]:
my_file.close() #close() is used to close the file

In [152]:
with open('test.txt') as my_file:
    contents = my_file.read()

In [153]:
contents

'this is the first line\nthis is the second line\nthis is the third line'

In [155]:
with open('test.txt',mode='r') as my_file:
    contents = my_file.read()

In [156]:
contents

'this is the first line\nthis is the second line\nthis is the third line'

In [157]:
# mode = 'a' is used to append 
# mode = 'r' is used to read the file 
# mode = 'w' is used to override the file 
# mode = 'r+' is used to reading and writing 
# mode = 'w+' is used to writing and reading 
with open('test.txt',mode='w') as my_file: 
    m

NameError: name 'm' is not defined

In [158]:
%%writefile test.txt
First line
Second line
Third line

Overwriting test.txt

In [159]:
with open('test.txt',mode='r') as f:
    contents = f.read()

In [161]:
contents

'this is the first line\nthis is the second line\nthis is the third line'

In [162]:
with open('test.txt', mode='a') as f:
    f.write('\nFourth line')

In [164]:
with open('test.txt',mode='r') as f:
    contents = f.read()

In [165]:
contents

'First line\nSecond line\nThird line\nFourth line'