# Basics of python

In [1]:
#String Slicing

In [2]:
my_string = "Hello World"

In [3]:
len(my_string) #this will print the length of the string

11

In [4]:
my_string[1:] #print the string form first index to end

'ello World'

In [5]:
my_string[1:3] #print the string from first up to 2nd

'el'

In [6]:
my_string[-1:]

'd'

In [7]:
my_string[-1] #last index of the string

'd'

In [8]:
my_string[-2]

'l'

In [9]:
my_string[::] #print the string all the way form beginig to end

'Hello World'

In [10]:
my_string[::2] #print the string all the way form begning to end with the space of 2

'HloWrd'

In [11]:
my_string

'Hello World'

In [12]:
my_string[2:7:2]

'loW'

# String Properties

In [13]:
my_string

'Hello World'

In [14]:
my_string.upper() # change it to uppercase

'HELLO WORLD'

In [15]:
my_string.lower() #change it to lowercase

'hello world'

In [16]:
my_string

'Hello World'

In [17]:
my_string.split() #split the string with the whitespace

['Hello', 'World']

In [18]:
my_string.split(" ") #we can specifiy the the spliting letters

['Hello', 'World']

# String format

In [19]:
my_string

'Hello World'

In [20]:
print("My name is {} and my age is {}".format("Achsuthan",26)) #.format() function is used to format the string

My name is Achsuthan and my age is 26

In [21]:
print("My name is {0} and my age is {1}".format("achsuthan",25)) #another format with index

My name is achsuthan and my age is 25

In [22]:
print("My name is {name} and my age is {age}".format(age=25,name="achsuthan")) #format the string with the custom values

My name is achsuthan and my age is 25

# Format the value with length

In [23]:
result = 1000/7

In [24]:
result

142.85714285714286

In [25]:
print("The result is {r}".format(r=result))

The result is 142.85714285714286

In [26]:
print("The result is {r:1.2f}".format(r=result)) #this will fomat the value with 2 decimal format

The result is 142.86

In [27]:
name = "Achsuthan"
age = 25

In [28]:
print(f"My name is {name} and age is {age}") #another way to format the srtring

My name is Achsuthan and age is 25

# List

In [29]:
my_list = ["one","two","three","four"]

In [30]:
my_list

['one', 'two', 'three', 'four']

In [31]:
type(my_list)

list

In [32]:
my_list[1]

'two'

In [33]:
my_list[0] = "ONE"

In [34]:
my_list

['ONE', 'two', 'three', 'four']

In [35]:
my_list.append("Five") #append is used to add the values to the list

In [36]:
my_list

['ONE', 'two', 'three', 'four', 'Five']

In [37]:
my_list.pop() #pop() is used to remove the vlaue form list and it will return the poped value

'Five'

In [38]:
my_list

['ONE', 'two', 'three', 'four']

In [39]:
my_list_1 = ["a","b","c","f","a"]

In [40]:
my_list_1.sort() #sort() is used to sort the list

In [41]:
my_list_1

['a', 'a', 'b', 'c', 'f']

In [42]:
my_list_2 = [2,5,3,1,3,4]

In [43]:
my_list_2.sort()

In [44]:
my_list_2

[1, 2, 3, 3, 4, 5]

In [45]:
my_list_1.reverse() #reverse the list

In [46]:
my_list_1

['f', 'c', 'b', 'a', 'a']

In [47]:
my_list_2.reverse()

In [48]:
my_list_2

[5, 4, 3, 3, 2, 1]

# Dictionary

In [49]:
d = {"key1":"value"}

In [50]:
d

{'key1': 'value'}

In [51]:
d["key2"]= "value2"

In [52]:
d

{'key1': 'value', 'key2': 'value2'}

In [53]:
d.keys

In [54]:
d.keys()

dict_keys(['key1', 'key2'])

In [55]:
d.values()

dict_values(['value', 'value2'])

In [56]:
d.items()

dict_items([('key1', 'value'), ('key2', 'value2')])

# Tuples

In [57]:
t = ('a','a','b','c')

In [58]:
t.count('a') #give the number of a's in the tuples

2

In [59]:
t.index('a') #it will give the first charecter of a

0

In [60]:
t.index('b')

2

In [61]:
type(t)

tuple

In [62]:
t

('a', 'a', 'b', 'c')

In [63]:
t[0] = 'a' # we can't asign the value to tuples

TypeError: 'tuple' object does not support item assignment

# Set

In [ ]:
my_set = set() #set will contain only unique values

In [ ]:
my_set.add(1) #add() function is used to add the value to set()

In [ ]:
my_set.add("a")

In [ ]:
my_set

In [ ]:
my_set.add(1)

In [ ]:
my_set

In [ ]:
my_list = [1,1,1,23,23,232,32,311,1,12]

In [ ]:
my_set_2 = set(my_list) #it will remove all the duplicated value form list

In [ ]:
my_set_2

# I/O reading and writing file

In [ ]:
%%writefile test.txt
this is the first line
this is the second line
this is the third line

In [ ]:
my_file = open('test.txt') #open the file

In [ ]:
my_file

In [ ]:
my_file.read() #read() is used to get the file content

In [ ]:
my_file.read() #when u run the read() function again we can't see it so we have to change the mouse curser to first index

In [ ]:
my_file.seek(0) #seek(0) function is used to move the curser

In [ ]:
my_file.read()

In [ ]:
my_file.seek(0)

In [ ]:
my_file.readline() #give the first line

In [ ]:
my_file.seek(0)

In [ ]:
val = my_file.readlines() #readlines() will return the list with values

In [ ]:
val[0]

In [ ]:
my_file.close() #close() is used to close the file

In [ ]:
with open('test.txt') as my_file:
    contents = my_file.read()

In [ ]:
contents

In [ ]:
with open('test.txt',mode='r') as my_file:
    contents = my_file.read()

In [ ]:
contents

In [ ]:
# mode = 'a' is used to append 
# mode = 'r' is used to read the file 
# mode = 'w' is used to override the file 
# mode = 'r+' is used to reading and writing 
# mode = 'w+' is used to writing and reading 
with open('test.txt',mode='w') as my_file: 
    m

In [ ]:
%%writefile test.txt
First line
Second line
Third line

In [ ]:
with open('test.txt',mode='r') as f:
    contents = f.read()

In [ ]:
contents

In [ ]:
with open('test.txt', mode='a') as f:
    f.write('\nFourth line')

In [ ]:
with open('test.txt',mode='r') as f:
    contents = f.read()

In [ ]:
contents

In [ ]:
my_list = [1,2,3,4]

In [ ]:
#range(10) it will print the value between 0 to 10
for num in range(10): 
    print(num)

In [ ]:
#range(1,10) it will print the vaues between 1 to 10
for num in range(1,10):
    print(num)

In [ ]:
# it will print the number between 0 to 10 even numbers
for num in range(0,10,2):
    print(num)

In [ ]:
string_value = "hello world"
#it will create tuples 
for item in enumerate(string_value):
    print(item)

In [ ]:
my_list_1 = [1,2,3,4]
my_list_2 = ['a','b','c','d']
my_list_3 = [100,200,300,400]

In [ ]:
#zip is like enumerate but we can give the index and values 
for item in zip(my_list_1,my_list_2,my_list_3):
    print(item)

In [ ]:
my_list_1 = [1,2,3,4,5,6,7]
my_list_2 = ['a','b','c','d']
my_list_3 = [100,200,300,400]

In [ ]:
#zip is like enumerate but we can give the index and values 
for item in zip(my_list_1,my_list_2,my_list_3):
    print(item)

In [ ]:
#check in list

In [ ]:
2 in [1,2,3,4]

In [ ]:
#check in string

In [ ]:
'a' in "hello world achsuthan"

In [ ]:
#list

In [ ]:
d = {'key1':'value 1','key2':'value 2'}

In [ ]:
'key3' in d.keys()

In [ ]:
#get the minum and maximum value in the list

In [ ]:
my_list = [1,23,4,2,1212,0,34,34,3]

In [ ]:
min(my_list) #minimum value in the list

In [ ]:
max(my_list) #maximum value in the list

In [71]:
from random import shuffle #its used to shuffle

In [76]:
my_list =  [1,2,3,4,5,6,7,8,9,10,11,12]

In [86]:
my_list

[1, 10, 9, 3, 6, 8, 5, 2, 11, 7, 4, 12]

In [84]:
shuffle(my_list)

In [85]:
my_list

[1, 10, 9, 3, 6, 8, 5, 2, 11, 7, 4, 12]